body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.form-visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: auto;
    height: auto;
    border-style: solid;
    border-width: 3px;
    box-shadow: 3px 3px lightgray;
    position: fixed;
    padding: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-hidden {
    display: none;
}